<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @person.nickname %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>

<p>
  <b>Birthday:</b>
  <%= @person.birthday %>
</p>

<p>
  <b>House:</b>
  <%= @person.house %>
</p>

<p>
  <b>City:</b>
  <%= @person.city %>
</p>

<p>
  <b>State:</b>
  <%= @person.state %>
</p>

<p>
  <b>Country:</b>
  <%= @person.country %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Twitter:</b>
  <%= @person.twitter %>
</p>

<p>
  <b>Facebook:</b>
  <%= @person.facebook %>
</p>

<p>
  <b>Okcupid:</b>
  <%= @person.okcupid %>
</p>

<p>
  <b>Fetlife:</b>
  <%= @person.fetlife %>
</p>

<p>
  <b>Note:</b>
  <%= @person.note %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
