<p id="notice"><%= notice %></p>

<p>
  <b>People:</b>
  <%= @basic.people %>
</p>

<p>
  <b>Relationships:</b>
  <%= @basic.relationships %>
</p>

<%= raw(@basic.to_json) %>


<%= link_to 'Edit', edit_basic_path(@basic) %> |
<%= link_to 'Back', basics_path %>
