%br
.row
	.span3
		%br
		- if @person.picture then
			%p
				%img.img-polaroid{ src: @person.picture(200) }
	.span9
		%h2 
			= @person.name
			%a.btn.pull-right{ href: "/person/#{@person.id}/edit" } Edit
	
		%table.table.table-bordered

			- if @person.gender?
				%tr
					%td Gender
					%td= @person.gender
				
			- if @person.location?
				%tr
					%td Gender
					%td= @person.location

			- if @person.fb?
				%tr
					%td Facebook
					%td
						%a{ href: "https://www.facebook.com/profile.php?id=#{@person.fb[:id]}" }= @person.fb.name
			
			- if @person.okc?
				%tr
					%td OKCupid
					%td
						%a{ href: @person.okc.link }= @person.okc.username 
			
			%tr
				%td{ width: '23%' } Loves
				%td
					- @person.relationships.each do |love|
						%p
							%a{ href: "/love/#{love.id}"} 
								- if love.tags.empty?
									in love
								- else	
									= love.tags.join(', ')
							with
							%a{ href: "/person/#{love.them.id}" }	
								= love.them.name
					%p
						%a.btn.btn-small{ href: "/love/new?me=#{@person.id}" } Add new love


		%form.pull-right{ action: "/person/#{@person.id}", method: 'post', onsubmit: 'return confirm("Are you sure?")' }
			%input{ name: '_method', value: 'delete', type: 'hidden' }
			%input.btn.btn-danger{ type: 'submit', value: "Remove #{@person.name}" } 
