%h2= @person.name

- if @person['fb'] then
	%img{ src: "https://graph.facebook.com/#{@person.fb.id}/picture?width=200&height=200", width: 100, height: 100, style: 'background-color: grey' }

%ul
	- @person.relationships.each do |love|
		%li
			%a{ href: "/love/#{love.id}"} 
				with
				= love.them.name
			
%p
	%a.btn{ href: "/love/new?me=#{@person.id}" } Add new love
